@font-face {
         font-family:"SolaimanLipi";
         src:url("/fonts/SolaimanLipi.eot") format("eot"),
         url("/fonts/SolaimanLipi.woff") format("woff"),
         url("/fonts/SolaimanLipi.ttf") format("truetype"),
         url("/fonts/SolaimanLipi.svg") format("svg");
         }
 body{
     font-family: SolaimanLipi!important;
     font-size:18px;
    line-height:26px!important;
}
 body,h1,h2,h3,h4,h5,h6,p,textarea{
    font-family:SolaimanLipi;
}
 .top-nav-collapse{
    padding:0;
}
 .container{
    padding-left:10px;
    padding-right:10px;
}
 .row{
    margin-left:-10px;
    margin-right:-10px;
}
.col-lg-1, .col-lg-2, .col-sm-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
.col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2,
.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
    padding-right:10px!important;
    padding-left:10px!important;
    ;
}
 #myModalDesktop button.close{
    position:absolute;
    top:-10px;
    right:-10px;
    background:#000;
    color:#fff;
    height:22px;
    width:22px;
    font-size:14px;
    border-radius:50%;
    opacity:1;
}
 #myModalDesktop .modal-dialog{
    width:550px;
}
 #myModalDesktop .modal-content{
    border:none!important;
}
 .footer-ad{
    position:fixed;
    bottom:0;
    text-align:center;
    width:100%;
    z-index:1000;
    background:rgba(0,0,0,.18);
    left:0;
}
 .footer-ad img{
    max-width:100%;
}
 .btn-toggle{
    position:relative;
}
 .btn-toggle button .fa-plus{
    display:none;
}
 .btn-toggle button{
    position:absolute;
    top:-10px;
    background:#eee;
    border:0;
    left:50%;
    width:30px;
    margin-left:-15px;
    border-radius:15px 15px 0 0;
    height:20px;
}
 .padTopBottom15{
    padding-top:15px;
    padding-bottom:15px;
}
 .ad-block{
    width:100%;
    background:#f0f0f0;
}
 .no-padding{
    padding:0;
}
 .no-margin{
    margin:0!important;
}
 .marginTopBottom20{
    margin-top:20px;
    margin-bottom:20px;
}
 .marginTop0{
    margin-top:0px;
}
 .marginTop10{
    margin-top:10px;
}
 .marginTop20{
    margin-top:20px;
}
 .marginBottom20{
    margin-bottom:20px;
}
 .paddingTop20{
    padding-top:20px;
}
 .paddingBottom20{
    padding-bottom:20px;
}
 .paddingTopBottom10{
    padding-top:10px;
    padding-bottom:10px;
}
 .paddingTopBottom20{
    padding-top:20px;
    padding-bottom:20px;
}
 .padding20{
    padding:20px;
}
 .padding15{
    padding:15px;
}
 .paddingTop15{
    padding-top:15px;
}
 .paddingTop10{
    padding-top:10px;
}
 .paddingBottom10{
    padding-bottom:10px;
}
 .paddingRight10{
    padding-right:10px;
}
 .paddingLeft10{
    padding-left:10px!important;
}
 .paddingLeft20{
    padding-left:20px;
}
 .advertisement img{
    max-width:100%;
}
 .box-white, .white-box{
    background:#fff!important;
}
 .box-ashes{
    background:#f7f7f7!important;
}
 .box-lightashes{
    background:#fbfbfb!important;
}
 .navbar-brand{
    font-weight:bold;
    color:#fff;
    z-index:10000;
    padding-top:20px;
}
 .affix{
    top:0;
    width:100%;
}
 .affix-top .navbar-brand{
    padding:15px 0;
}
 .affix .navbar-brand{
    padding:15px;
    color:#fff;
}
 .affix .navbar-brand:hover{
    background:#fff;
}
 .affix + .top{
    padding-top:200px;
}
 .scroll-top-wrapper{
   position: fixed;
   opacity: 0;
   visibility: hidden;
   overflow: hidden;
   text-align: center;
   z-index: 99999999;
   color: #2980b9;
   width: 40px;
   height: 40px;
   border: 2px solid #2980b9;
   line-height: 30px;
   right: 30px;
   bottom: 30px;
   padding-top: 2px;
   border-radius: 50px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
 .scroll-top-wrapper:hover{
    color:#fff;
    border:2px solid #fff;
    background-color: #2980b9;
}
 .scroll-top-wrapper.show{
    visibility:visible;
    cursor:pointer;
    opacity:1.0;
}
 .scroll-top-wrapper i.fa{
    line-height:inherit;
    font-size:20px;
}
 #top{
    background:#fff;
}
 #top ul.nav{
    margin-top:25px;
}
 #top ul.nav.navbar-right{
    margin-top:15px;
}
 #top .navbar-nav a{
    padding-top:10px;
    padding-bottom:10px;
    color:#000;
}
 #top .navbar-nav.social-media a{
    padding:10px;
}
 #top .navbar-nav.social-media a:hover .fa-facebook{
    color:#3b5998;
}
 #top .navbar-nav.social-media a:hover .fa-twitter{
    color:#00aced;
}
 #top .navbar-nav.social-media a:hover .fa-google-plus{
    color:#d34836;
}
 #top .navbar-nav.social-media a:hover .fa-youtube{
    color:#c4302b;
}
 #top .date{
    margin-top:30px;
    display:block;
}
 .mega-dropdown{
    position:static !important;
}
 #menu{
    background:#fff;
    border:none;
    box-shadow:0 0 5px 0 black;
    width:100%;
}
 #menu a{
    color:#000;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
}
 #menu .mega-dropdown-menu{
    background:#fff;
    border-bottom:1px solid #f1f1f1;
}
 #menu .mega-dropdown-menu#topsearch{
    padding:0;
    background:transparent;
    top:8px;
    border:none;
}
 #menu .dropdown{
}
 #menu .dropdown .dropdown-menu{
    border-radius:0;
    border:none;
    border-bottom:1px solid #eee;
}
 #menu .dropdown .dropdown-menu li{
}
 #menu .dropdown .dropdown-menu li a{
    color:#000;
    font-size:1.3em;
}
 #menu .dropdown .dropdown-menu li a:hover{
}
.megamenu-wrapper{
  border-top: 2px solid #f1f1f1!important;
  border-bottom: 2px solid #f1f1f1!important;
  padding: 35px 0px;
}
.mega-footer {
    padding: 15px 0px;
}
.mega-list li {
    padding: 8px 0px;
}
#menu-dropdown a .fa-bars {
    margin-right: 8px;
}

 #Container .mix{
    display:none;
}
 #unicode_font{
    width:200px;
    position:absolute;
    left:-200px;
    top:0;
    height:35px;
    background:#000;
    color:#fff;
    z-index:1;
    padding:6px;
    opacity:0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

 #sa{
    color:white;
    border:1px solid #000;
    border-left:none;
    border-radius:0;
    position:absolute;
    right:20px;
    background:#000;
    z-index:1000000;
    padding:6px 15px;
    height:35px;
    visibility:hidden;
    font-size:14px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
 #sa:hover{
    background:#000;
    visibility:visible!important;
}
 .sb-search.sb-search-open #sa{
    visibility:visible!important;
}
 #menu .form-control{
    box-shadow:none;
    font-size:16px;
    border:0;
    transition:all 0.3s;
    background:transparent;
    height:34px;
    border-radius:3px;
}
 #menu .input-group{
    height:34px;
    border:1px solid #eee;
    border-radius:0;
    padding-right:1px;
    background:#fff;
}
 #menu.affix .input-group{
    margin-left:187px;
}
 #menu .dropdown-toggle{
    background:transparent;
}
 #menu .dropdown-toggle i{
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
 #menu .navbar-nav .dropdown.open .dropdown-toggle i{
    transform:rotate(180deg);
}
 #menu .btn:hover, #menu .btn:hover{
    background:transparent;
    color:#000;
}
 #menu .mega-dropdown-menu{
}
 #menu .navbar-nav .dropdown.open > a, #menu .navbar-nav li > a:hover{
    background:#F0F0ED;
    color:#000;
}
 #menu .navbar-nav .mega-dropdown-menu a:hover{
    background:transparent;
    color:#439ec9;
}
 #menu .navbar-nav li.active a{
    background:#F0F0ED;
    color:#000!important;
}
 .mega-dropdown-menu{
    padding:0;
    width:100%;
    border-radius:0;
    border-top:1px solid #eee;
}
 #menu .mega-dropdown-menu ul{
    border-right:1px solid #eee;
    list-style:none;
    margin:0;
    padding:0;
}
 #menu .mega-dropdown-menu ul.media{
    border-right:none;
}
 #menu .mega-dropdown-menu a{
    color:#000;
    font-size:1.35em;
    text-decoration:none;
}
 .single-block{
    background:#fff;
    position:relative;
    margin-bottom:20px;
    min-height: 245px;
   

}
 .single-block a{
    color:#000;
    display:block;
    text-decoration:none;
}
 .single-block h3{
    margin:0;
    line-height:26px;
}
 .single-block h4{
    margin:0 0 5px 0;
    line-height:26px;
}
 .single-block .overlay-details h3 a{
    color:#fff;
}
 .single-block .overlay-details h4 a{
    color:#fff;
}
 .single-block .overlay-details{
    position:absolute;
    bottom:0;
    background:rgba(0,0,0,0.5);
    width:100%;
    padding:10px;
}
 .single-block .overlay-details p{
    color:#f1f1f1;
}
 .single-block small{
    font-size:12px;
    color:gray;
    margin-top:0;
    display:block;
}
 .single-block .heading a{
    padding:15px;
}
 .single-block p{
    margin-top:10px;
    margin-bottom:25px;
    font-size:.95em;
}
 .single-block .img-box{
    position:relative;
}
 .single-block .img-box i.fa-play{
    position:absolute;
    top:50%;
    left:50%;
    height:70px;
    width:70px;
    background:rgba(0,0,0,0.14);
    transform:translate(-50%, -50%);
    text-align:center;
    line-height:60px;
    color:#fff;
    border-radius:50%;
    font-size:30px;
    padding-left:8px;
    border:5px solid #fff;
    -webkit-box-shadow:0 0 30px 2px gray;
    -moz-box-shadow:0 0 30px 2px gray;
    box-shadow:0 0 30px 2px gray;
    opacity:0.8;
}
 .single-block:hover .img-box i.fa-play{
    background:#fff;
    color:#9A1515;
}
 .single-block .img-box i.fa-camera, .single-block .img-box i.fa-microphone{
    position:absolute;
    top:0;
    left:0;
    background:rgba(255,255,255,0.7);
    color:#9A1515;
    padding:10px 15px;
}
 .single-block:hover .img-box i.fa-camera, .single-block:hover .img-box i.fa-microphone{
    background:#9A1515;
    color:#fff;
}
 .sports .single-block .img-box{
    overflow:hidden;
}
 .sports .single-block h3{
    font-size:1em;
    line-height:26px;
}
 .single-block .icon-box{
    position:absolute;
    top:0;
    left:0;
}
 .single-block .icon-box i{
    color:#fff;
    padding:10px 15px;
    background:rgba(0,0,0,0.6);
    display:inline-block;
}
 .single-block .img-box:hover .icon-box i{
    background:#b30f0f;
}
 .single-block:hover img{
    opacity:0.95;
}
 .single-block h3:hover a, .single-block h4:hover a{
    color:#439ec9
}
 .single-block h1{
    font-size:1.875em;
    line-height:40px;
}
 .single-block:hover .overlay-details h3 a{
    color:#f1f1f1;
}
 .single-block img{
    width:100%;
    font-size:12px;
    line-height:1;
    color:#a2a2a2;
}
 .single-block .details{
    padding:10px 15px;
    min-height:100px;
}
 .single-block .related{
    padding:10px 15px;
    min-height:100px;
}
 .meta{
    line-height:16px;
}
 .single-block .meta{
    position:absolute;
    width:100%;
    padding:10px;
    right:0;
    left:0;
    border-top:1px solid #eee;
    background:#fff;
    bottom:0;
}
 .single-block .meta span, .single-block .meta a{
    font-size:12px;
    color:#868686;
}
 .single-block .meta a{
    padding-right:10px;
}
 .single-block .meta a.pull-right::before{
    position:absolute;
    content:"";
    width:3px;
    height:12px;
    right:10px;
    background:#2980B9;
    top:12px;
}
 .single-block .meta a:hover{
    color:#439ec9;
}
 .single-block .meta .tags a{
    padding:0;
    display:inline-block
}
 .single-block .meta .tags a:hover{
    color:#000;
}
 .single-block .author{
    position:absolute;
    width:100%;
    padding:10px;
    right:0;
    left:0;
    border-top:1px solid #eee;
    background:#fff;
    bottom:0;
}
 .single-block .author img{
    float:left;
    width:40px;
    margin-right:10px;
    height:40px;
    border-radius:50px;
}
 .single-block .author a{
    font-size:14px;
    color:#868686;
}
 .single-block .author a:hover{
    color:#439ec9;
}
 .single-block.shadow{
    box-shadow:0 1px 4px 0 #b9b9b9;
}
 .single-block.shadow:hover{
    box-shadow:0 1px 6px 0 rgba(0, 0, 0, 0.59);
}
 .mainLead{
    min-height:510px;
    max-height:510px;
    overflow:hidden;
}
 .mainLead h3{
    font-size:1.8em;
    margin:0 0 15px;
    padding:0;
    line-height:40px;
}
 .subLead .details{
    padding:10px 15px;
}
 .single-block.subLead{
    min-height:245px;
}
 .box-white .single-block{
    background:#f1f1f1;
    position:relative;
    margin-bottom:20px;
    min-height:240px;
}
 .box-white .opinion .single-block{
    background:#f1f1f1;
    position:relative;
    margin-bottom:20px;
    min-height:200px;
}
 .box-white .single-block .meta{
    background:#f1f1f1;
    border-top:1px solid #fff;
}
 .single-block .details .media{
    border-top:1px dashed gray;
    margin:0 !important;
    padding:10px 0;
    overflow:hidden;
}
 .single-block .details .media:first-child{
}
 .single-block .details .media .media-left{
}
 .single-block .details .media .media-left a, .deshjure .media .media-left a,
 .topSakkhatkar .sakkhatkar-block .media a.pull-left, .single-block .details .media .media-left{
    position:relative;
}
 .single-block .details .media .media-left i.fa-play, .topSakkhatkar
 .sakkhatkar-block .media a.pull-left i.fa-play, .deshjure .media .media-left a i.fa-play{
    position:absolute;
    font-size:10px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:rgba(0,0,0,0.3);
    padding:5px;
    border-radius:50%;
    height:24px;
    width:24px;
    line-height:12px;
    text-align:center;
    padding-left:7px;
    border:2px solid #fff;
    color:#fff;
    opacity:0.8;
}
 .single-block .details .media:hover .media-left i.fa-play, .topSakkhatkar
 .sakkhatkar-block .media:hover a.pull-left i.fa-play, .deshjure .media:hover .media-left a i.fa-play{
    background:#fff;
    color:#9A1515;
}
 .single-block .details .media .media-left img{
    width:80px;
}
 .single-block .details .media .media-body{
}
 .single-block .details .media .media-body h4{
    font-size:1em;
    margin:0;
    line-height:22px;
}
 .single-block .details .media .media-body a{
}
 .single-block.auto{
    min-height:inherit!important;
}
 .overlay-category{
    position:absolute;
    left:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    padding:2px 10px;
}
 .overlay-category a{
    color:#fff;
    font-size:14px;
}
 .overlay-category a:hover{
    color:red;
    font-size:14px;
}
 .special-box{
    width:100%;
    background:#1a1a1a;
    color:#fff;
}
 .special-box .cat-title{
    font-size:36px;
    padding-top:2px;
}
 .special-box .cat-title span{
    padding-right:15px;
    padding-bottom:5px;
    display:inline-block;
}
 .special-box .cat-title .liner::before{
    border-top:8px solid #c00;
    top:12px;
}
 .special-box .cat-title .liner::after{
    border-top:8px solid #c00;
    top:23px;
}
 .special-box .overlay-details{
    background:#292929;
}
 .special-box .overlay-details h2{
    margin:0;
}
 .special-box .overlay-details h2 a{
    color:#fff;
    padding:10px;
}
 .special-box .single-block{
    background:transparent;
}
 .special-box .single-block .details{
    padding:0;
}
 .special-box .single-block a{
    color:#fff;
}
 .special-box .single-block a:hover{
    color:#c00;
}
 .special-box .single-block .details .media{
    height:auto!important;
    padding:8px 0;
}
 .special-box .single-block .details .media:first-child{
    border-top:0 dashed transparent;
    padding-top:0!important;
}
 .special-box .single-block .list-special{
    list-style-type:none;
    margin:0;
    padding:0;
}
 .special-box .single-block .list-special li{
}
 .special-box .single-block .list-special li a{
    border-top:1px dashed gray;
    padding:10px 0;
}
 .special-box .cat-title a{
    color:#fff;
    display:inline-block;
    padding-bottom:5px;
}
 .category .single-block{
    margin-bottom:0!important;
    height:505px;
}
 .category .single-block:hover img{
    opacity:1;
}
 .category .single-cat-height{
    height:450px;
    overflow:hidden;
}
 .category .single-block .details ul{
    list-style:none;
}
 .category .single-block .details ul li{
    border-top:1px dashed #868686;
}
 .category .single-block .details ul li a{
    padding:5px 0;
}
 .category .single-block .details ul li a:hover{
    color:#1167a8;
    padding:5px 0;
}
 .category .single-block > h4{
    padding:10px 15px 0;
    font-weight:bold;
    line-height:20px;
    margin-bottom:0;
}
 .category .single-block h3 a, .category .single-block h4 a{
    color:inherit;
    font-size:.85em;
}
 .category .single-block h3:hover a, .category .single-block h4:hover a{
    color:inherit;
    font-size:.85em;
}
 .category .single-block h4 a:hover{
    color:#1167a8;
    font-size:.85em;
}
 .single-block.cat-block{
    height:90px;
    min-height:0;
    overflow:hidden;
}
 .single-block.cat-block img{
    height:90px;
}
 .single-block.cat-block h3{
    font-size:1.1em;
    line-height:26px;
}
 .postslide{
    position:fixed;
    top:50%;
    transform:translateY(-50%);
    z-index:10000;
}
 .postslide a{
    color:#000;
    z-index:10;
}
 .postslide.post_next{
    right:0;
}
 .postslide i{
    height:100px;
    background:#909090;
    color:#fff;
    line-height:100px;
    padding:0 5px;
}
 .post_info{
    position:absolute;
    width:300px;
    height:100px;
    top:0;
    background:#dcdcdc;
    padding:10px 5px 10px 10px;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
    z-index:-1;
    overflow:hidden;
}
 .post_prev .post_info{
    left:-271px;
    border-right:4px solid #b30f0f;
}
 .post_next .post_info{
    right:-271px;
    border-left:4px solid #b30f0f;
}
 .post_thumbnail img{
    width:120px;
    float:left;
    margin-right:5px;
    font-size:12px;
    line-height:1;
    color:rgba(40, 51, 49, 0.33);
    margin-top:5px;
}
 .post_prev a:hover .post_info{
    left:25px;
}
 .post_next a:hover .post_info{
    right:25px;
}
 .fb-live{
}
 .fb-live h2{
}
 .fb-live h2 a{
    color:#fff;
    padding:10px 15px;
    display:block;
    background:#3E5C9A;
    font-size:.75em;
    text-align:center;
}
 .fb-live h2 a:hover{
    text-decoration:none;
    background:#374E7E;
}
 .fb-live .single-block{
    background:#333!important;
    margin-bottom:0!important;
    height:500px;
    overflow:hidden;
}
 .fb-live .single-block .img-box{
}
 .fb-live .single-block h4{
}
 .fb-live .single-block > h4 a{
    color:#fff !important;
    padding:10px 10px 0;
    font-size:20px;
}
 .fb-live .single-block a{
    color:#fff!important;
}
 .fb-live .single-block a:hover{
    color:#BFC9DE!important;
}
 .fb-live .single-block .media{
    padding:5px 0;
}
 .fb-live .single-block .details{
}
 .fb-live .allnews a{
    background:#000;
    color:#fff!important;
}
 .video, .sider, .vid-wrap, .vid-wrap{
    transition:.5s;
    -o-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
 .video{
    position:relative;
    top:0;
    right:0;
    width:100%;
    z-index:5;
}
 .sider{
    position:fixed;
    width:100%;
}
 .vid-wrap > iframe{
    transition:.5s;
}
 .sider .embed-responsive-16by9{
    padding-bottom:0;
    overflow:visible;
}
 .embed-responsive-16by9{
    padding-bottom:56.25%;
}
 .sider .vid-wrap{
}
 .sider .vid-wrap iframe{
    width:22.1%;
    height:240px;
    top:50px;
    left:65.7%;
}
 .deshjure{
    padding-top:20px;
}
 .deshjure .media{
    margin-bottom:17px;
}
 .deshjure .media a{
    color:#000;
    text-decoration:none;
    font-size:.9em;
}
 .deshjure .media img{
    width:120px;
    font-size:12px;
    line-height:1;
    color:#a2a2a2;
}
 .deshjure .media a:hover{
    color:#439ec9;
}
 .deshjure .media .media-left .media-object{
    width:150px;
}
 .deshjure .media .media-body{
}
 .deshjure .media .media-body .meta{
    position:relative;
}
 .deshjure .media .media-body .meta i{
    display:inline-block;
    font-size:12px;
}
 .deshjure .media .media-body .meta a{
    display:inline-block;
    font-size:12px;
    color:#868686;
}
 .deshjure .media .media-body .meta a:hover{
    color:#000;
}
 .deshjure .single-block{
    height:auto;
}
 .deshjure .single-block .details{
}
 .deshjure .col-sm-3 .single-block, .national .col-sm-3 .single-block{
    min-height:217px!important;
    height:217px!important;
    max-height:217px!important;
}
 .deshjure .col-sm-3 .single-block .details, .national .col-sm-3 .single-block .details{
    padding:5px 15px!important;
    min-height:90px!important;
    height:90px!important;
    max-height:90px!important;
}
 .homePageSideSvg{
    padding-right:19px;
    padding-left:18px;
}
 .national .col-sm-6 .single-block h4{
    font-size:1.15em;
}
 .content-media--video{
    background-color:#ddd;
    display:block;
    position:relative;
    padding:0 0 56.25% 0;
    z-index:1;
}
 .content-media--video iframe{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
}
 #featured-video{
    transition:width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
}
 #featured-video.is-sticky{
    position:fixed;
    top:60px;
    left:auto;
    max-width:280px;
    max-height:158px;
    width:280px;
    height:158px;
}
 @media screen and (min-width:1120px){
    #featured-video.is-sticky{
        transform:translateX(-80%);
    }
}
 @media screen and (min-width:1300px){
    #featured-video.is-sticky{
        transform:translateX(-115%);
    }
}
 .cat-title{
    position:relative;
    overflow:hidden;
    margin:0 0 10px 0;
    padding:2px 0 0 0;
    font-size:26px;
}
 .cat-title a{
    background:transparent;
    color:#000;
    padding-right:15px;
    text-decoration:none;
}
 .cat-title .liner{
}
 .cat-title .liner::before{
    position:absolute;
    content:'';
    width:100%;
    border-top:6px solid #d9d9d9;
    top:10px;
    display:inline-block;
    vertical-align:bottom;
}
 .cat-title .liner::after{
    position:absolute;
    content:'';
    width:100%;
    border-top:6px solid #d9d9d9;
    top:18px;
    display:inline-block;
    vertical-align:bottom;
}
 .cat-titleBlock{
    padding:10px 0;
    overflow:hidden;
    margin:0;
}
 .cat-titleBlock .left{
    float:left;
}
 .cat-titleBlock .left .catName{
    float:left;
}
 .cat-titleBlock .left .catName a{
    color:#000;
    text-decoration:none;
}
 .cat-titleBlock .left .catSubName{
    float:left;
    margin-left:10px;
}
 .cat-titleBlock .left .catSubName a{
    display:inline-block;
    font-size:65%;
    padding:5px;
    color:#6a6a6a;
    text-decoration:none;
}
 .cat-titleBlock .left .catSubName a:hover{
    color:#000;
}
 .cat-titleBlock .right{
    float:right;
    font-size:20px;
    padding-top:5px;
    color:#6a6a6a;
    text-decoration:none;
}
 .cat-titleBlock .right:hover{
    color:#000;
}
 .allnews a{
    display:block;
    text-align:center;
    border:none;
    padding:5px;
    color:#000;
    background:#f6f6f6;
    text-decoration:none;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
    -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
    -o-box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
}
 .allnews:hover a{
    opacity:0.8;
}
 .jagoTab2{
    background:#fff;
    margin-bottom:20px;
}
 .jagoTab2 .nav-tabs{
    border:none;
}
 .jagoTab2 .nav-tabs{
    color:#000;
    background:#d2d2d2;
}
 .jagoTab2 .nav-tabs > li > a{
    border:none;
    border-top:3px solid #d2d2d2;
    color:#000;
    font-size:1.15em;
    border-radius:0;
    padding:5px 15px;
    text-decoration:none;
    margin-bottom:0;
}
 .jagoTab2 .nav-tabs > li > a:hover{
    background:#d2d2d2;
}
 .jagoTab2 .nav-tabs > li.active > a, .jagoTab2 .nav-tabs > li.active > a:focus, .jagoTab2 .nav-tabs > li.active > a:hover{
    border:none;
    border-radius:0;
    background:#fff;
    color:#000;
    border-top:3px solid #2980B9;
}
 .jagoTab2 .tab-content{
}
 .jagoTab2 .tab-content ul.media-list{
    max-height:460px;
    overflow-y:auto;
    padding-left:30px;
}
 .jagoTab2 .tab-content ul.media-list .media{
    border-bottom:1px dotted gray;
    margin:0;
    padding:10px 0;
    position:relative;
    overflow:visible;
}
 .jagoTab2 .tab-content ul.media-list .media .media-left{
    padding-right:0;
}
 .jagoTab2 .tab-content ul.media-list .media .media-left a{
    padding-right:0;
    position:relative;
}
 .jagoTab2 .tab-content ul.media-list .media .media-left a i.fa-play{
    position:absolute;
    font-size:10px;
    top:50%;
    left:44%;
    transform:translate(-50%, -50%);
    background:rgba(0,0,0,0.3);
    padding:5px;
    padding-left:7px;
    border-radius:50%;
    height:24px;
    width:24px;
    line-height:12px;
    text-align:center;
    border:2px solid #fff;
    color:#fff;
    opacity:0.8;
}
 .jagoTab2 .tab-content ul.media-list .media:hover .media-left a i.fa-play{
    background:#fff;
    color:#9A1515;
}
 .jagoTab2 .tab-content ul.media-list .media .media-left span{
    position:absolute;
    margin-top:-1px;
    left:-25px;
    height:35px;
    width:34px;
    background:black;
    text-align:center;
    line-height:25px;
    color:#fff;
    border-radius:50%;
    border:4px solid #fff;
    top:15px;
    z-index:1;
}
 .jagoTab2 .tab-content ul.media-list .media .media-left img{
    width:90px;
    display:inline-block;
    padding-right:10px;
    font-size:10px;
    line-height:1;
    color:#a2a2a2;
}
 .jagoTab2 .tab-content ul.media-list .media .media-right img{
    width:60px;
}
 .jagoTab2 .tab-content ul.media-list .media .media-body .media-heading{
    font-size:0.95em;
    line-height:1.35;
}
 .jagoTab2 .tab-content ul.media-list .media .media-body .media-heading a{
    color:#000;
    display:block;
}
 .jagoTab2 .tab-content ul.media-list .media:hover .media-heading a{
    color:#1167a8;
}
 .jagoTab2 .tab-content ul li:hover a{
    color:#1167a8;
    text-decoration:none;
}
 .photo .jagoTab2 .nav-tabs{
    border-right:1px solid #ccc!important;
    border-left:1px solid #ccc!important;
}
 .photo .jagoTab2 .tab-content ul.media-list{
    max-height:none!important;
    padding-left:0;
    border:1px solid #ccc;
    border-top:none;
}
 .photo .jagoTab2 .tab-content ul.media-list .media{
    padding:10px!important;
}
 .jagoTab2.TagTab{
}
 .jagoTab2.TagTab .tab-content{
    padding:15px;
}
 .jagoTab2.TagTab .tab-content .tag-block{
    margin-bottom:10px;
    border-bottom:1px solid #dbdbdb;
    padding-bottom:10px;
}
 .jagoTab2.TagTab .tab-content .tag-block:last-child{
    margin-bottom:0;
    border-bottom:0 solid #dbdbdb;
    padding-bottom:0;
}
 .jagoTab2.TagTab .tab-content .tag-block .tag-img{
    position:relative;
}
 .jagoTab2.TagTab .tab-content .tag-block .tag-img i.fa-play{
    position:absolute;
    font-size:24px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:rgba(0,0,0,0.3);
    padding:5px;
    padding-left:12px;
    border-radius:50%;
    height:60px;
    width:60px;
    line-height:42px;
    text-align:center;
    border:5px solid #fff;
    color:#fff;
    opacity:0.8;
}
 .jagoTab2.TagTab .tab-content .tag-block:hover .tag-img i.fa-play{
    background:#fff;
    color:#9A1515;
}
 .jagoTab2.TagTab .tab-content .tag-block .tag-img a{
    color:#fff;
}
 .jagoTab2.TagTab .tab-content .tag-block .tag-img a:hover{
    color:#ec5d64;
}
 .jagoTab2.TagTab .tab-content .tag-block h3{
    font-size:1em;
    margin:0;
}
 .jagoTab2.TagTab .tab-content .tag-block a{
    color:#ec5d64;
}
 .jagoTab2.TagTab .tab-content .tag-block a:hover{
    color:#c6171f;
}
 .jagoTab2.TagTab .tab-content .tag-block p{
    padding-top:10px;
    font-size:.85em;
    line-height:24px;
}
 .jagoTab2.TagTab .tab-content small{
    font-size:12px;
    color:#777;
}
 .jagoTab2.TagTab .tag-photo .col-sm-4{
    margin-bottom:20px;
}
 .jagoTab2.TagTab .tag-photo a{
    color:#000;
}
 .jagoTab2.TagTab .tag-photo a:hover{
    color:#ec5d64;
}
 .jagoTab2.TagTab .tag-photo h3{
    font-size:1em;
    margin:10px 0 0 0;
}
 .cat_more{
    background:#D2D2D2!important;
    text-align:left!important;
}
 .topSakkhatkar{
    background:#fff;
    margin-bottom:20px;
    height:460px;
}
 .topSakkhatkar h2{
    margin:0;
    padding:10px;
    color:#000;
    background:#d9d9d9;
    text-align:center;
}
 .topSakkhatkar h2 a{
    color:#000;
}
 .topSakkhatkar h2 a:hover{
    color:#439ec9;
}
 .topSakkhatkar .sakkhatkar-block{
    padding:15px;
}
 .topSakkhatkar .sakkhatkar-block .media{
    border-bottom:1px solid #f1f1f1;
    padding-bottom:15px;
}
 .topSakkhatkar .sakkhatkar-block .media .media-heading{
    line-height:22px;
    font-size:.9em;
}
 .topSakkhatkar .sakkhatkar-block .media:last-child{
    border-bottom:none;
    padding-bottom:0;
}
 .topSakkhatkar .sakkhatkar-block .media a{
    color:#000;
}
 .topSakkhatkar .sakkhatkar-block .media a:hover{
    color:#439ec9;
}
 .topSakkhatkar .sakkhatkar-block .media img.media-object{
    width:105px!important;
}
 .blockQuote{
    background:#fff;
    padding:10px 15px 20px;
    margin-bottom:20px;
    min-height:200px;
}
 .blockQuote .cat-title{
    border-bottom:1px solid #eee;
    padding:5px 0 10px;
}
 .blockQuote .carousel{
}
 .blockQuote .carousel .carousel-inner{
}
 .blockQuote .carousel .carousel-inner .item blockquote{
    height:90px;
    overflow:hidden;
    background:#f9d0d7;
    border-left:5px solid #b30f0f;
    margin-bottom:11px;
}
 .blockQuote .carousel .carousel-inner .item blockquote a{
    color:#000;
    text-decoration:none;
}
 .blockQuote .carousel .carousel-inner .item blockquote a:hover{
    color:#1167a8;
}
 .blockQuote .carousel .carousel-inner .item img{
    width:40px;
    height:40px;
    border-radius:100%;
}
 .blockQuote .carousel .carousel-inner .item small{
    color:gray;
}
 .blockQuote .carousel .control{
    position:absolute;
    top:-40px;
    color:gray;
}
 .blockQuote .carousel .control:hover{
    color:#000;
}
 .blockQuote .carousel .control.left{
    right:15px;
}
 .blockQuote .carousel .control.right{
    right:0!important;
}
 .carousel-indicators li{
    background-color:rgba(0,0,0,0);
    border:1px solid #dedede;
}
 .adv-img{
}
 .adv-img img{
    max-width:100%;
    width:auto;
}
 .adv-img a{
    font-size:10px;
    display:block;
    margin-bottom:10px;
}
 .adv-img .quote{
    border:1px solid #c5c5c5;
    padding:20px 30px;
    text-align:left;
    margin-left:-30px;
    background:#fff;
    width:50%;
    float:left;
    margin-right:15px;
}
 .adv-img .quote p{
    position:relative;
    font-size:16px;
    color:#0f0a0e;
    margin-bottom:10px;
}
 .adv-img .quote p i{
    color:#cecece;
    font-size:20px;
}
 .content p{
    font-size:1.1em;
    line-height:30px;
}
 .content-division{
    padding:15px;
}
 .content-division ul{
    margin:0;
    padding:0;
    list-style:none;
}
 .content-division ul li{
}
 .content-division ul li a{
    display:block;
    background:#fff;
    text-decoration:none;
    color:#000;
    font-size:16px;
    padding:2px 10px;
    margin-bottom:5px;
}
 .content-division ul li a:hover{
    background:#ebebeb;
}
 .content-tags{
}
 .content-tags ul{
    margin:0;
    padding:0;
    list-style:none;
    background:#fff;
}
 .content-tags ul.padding15{
    padding:15px!important;
    margin-bottom:15px;
}
 .content-tags ul li{
    display:inline-block;
}
 .content-tags ul li a{
    border:1px solid #eee;
    display:block;
    background:#fff;
    text-decoration:none;
    color:#000;
    font-size:16px;
    padding:2px 10px;
    margin:2px 0;
}
 .content-tags a{
    display:inline-block;
    margin:2px 0;
}
 .content-tags ul li a:hover{
    background:#ebebeb;
}
 .related ul li a{
    border-bottom:1px dashed #797979;
    display:block;
    padding:5px 0;
}
 .related ul li a:hover{
    color:#439ec9;
}
 .footer-logo{
    padding:20px 0;
    background:#282828;
}
 .our-text{
    text-align:justify;
    line-height:20px;
    color:#777;
}
 .our-text h1{
    font-size:15px;
    font-weight:normal;
    display:inline;
}
 .our-text p{
    display:inline;
    font-size:15px;
}
 .timeline-centered{
    position:relative;
    margin-bottom:20px;
}
 .timeline-centered:before, .timeline-centered:after, .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after, .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after{
    content:" ";
    display:table;
    clear:both;
}
 .timeline-centered:before{
    position:absolute;
    display:block;
    width:4px;
    background:#f5f5f6;
    left:17.85%;
    top:0;
    bottom:10px;
}
 .timeline-centered .timeline-entry{
    position:relative;
    width:80%;
    float:right;
    margin-bottom:10px;
    clear:both;
}
 .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner{
    margin-left:0;
    margin-right:-18px;
}
 .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time{
    left:auto;
    right:-100px;
    text-align:left;
}
 .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon{
    float:right;
}
 .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label{
    margin-left:0;
    margin-right:70px;
}
 .timeline-centered .timeline-entry .timeline-entry-inner{
    position:relative;
    margin-left:-15px;
}
 .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time{
    position:absolute;
    left:-95px;
    font-size:14px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    line-height:18px;
}
 .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon{
    background:#9a1515;
    color:#737881;
    display:block;
    width:10px;
    height:10px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    text-align:center;
    -moz-box-shadow:0 0 0 5px #f5f5f6;
    -webkit-box-shadow:0 0 0 5px #f5f5f6;
    box-shadow:0 0 0 5px #f5f5f6;
    margin-top:10px;
    font-size:15px;
    float:left;
}
 .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label{
    position:relative;
    background:#f5f5f6;
    padding:10px;
    margin-left:30px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
 .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after{
    content:'';
    display:block;
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-width:9px 9px 9px 0;
    border-color:transparent #f5f5f6 transparent transparent;
    left:1px;
    top:10px;
    margin-left:-9px;
}
 .timeline-centered .timeline-entry .timeline-entry-inner .media .media-body a{
    color:#000;
    display:block;
}
 .timeline-centered .timeline-entry .timeline-entry-inner .media .media-body a:hover{
    color:#337ab7;
}

 .photo-footer-top{
    padding:20px 0;
}
 .photo-footer-top .footer-menu{
    margin:0;
    padding:0;
}
 .photo-footer-top .footer-menu li{
    list-style:none;
    display:inline-block;
}
 .photo-footer-top .footer-menu li a{
    text-decoration:none;
    padding:3px 15px;
    display:block;
    border:1px solid #3c3c3c;
    font-size:16px;
    color:#f1f1f1;
}
 .photo-footer-top .footer-menu li a:hover{
    background:#3c3c3c;
}
 .photo-footer-top .footer-menu li.active a{
    background:#3c3c3c;
}
 .photo-footer-top .footer-menu li.active a:hover{
    background:#7b7b7b;
}
 .divider{
    border-top:1px solid #3c3c3c;
    margin:15px 0;
}
 .dividerDetails{
    border-top:1px solid #f3f3f3;
    margin:10px 0;
}
 .main-content .caption{
    padding:0 15px;
    font-size:14px;
    color:gray;
    font-style:italic;
}
 .photo .main-content .caption{
    font-size:inherit;
    color:#fff;
    font-style:normal;
}
 .footer-top h3{
    margin:0;
}
 .newsinfo{
    padding:15px;
}
 .newsinfo a{
    display:inline-block!important;
}
 .footer{
    width:100%;
    background:#000;
    padding:20px 0;
    color:#f1f1f1;
    border-bottom:1px solid #222;
}
 .warning{
    color:#9a1515;
    padding:0;
}
 .content-details{
    padding:15px 15px 0 15px;
}
 .content-details p{
    line-height:30px;
}
 .content-details > p a{
    color:inherit!important;
}
 .content-details .ilink{
    padding:5px 15px;
    background:#e7e7e7;
    margin-bottom:10px;
    font-size:16px;
    line-height:20px;
}
 .content-details .ilink p{
    margin-bottom:0;
}
 .content-details .ilink p a{
    color:inherit!important;
}
 .time-with-author{
    font-size:14px;
    line-height:1;
}
 .half{
}
 .single-media{
}
 .single-media .media-list{
    border:1px solid #e6e6e6;
}
 .single-media .media{
    padding:15px;
    margin:0;
    border-bottom:1px solid #e6e6e6;
}
 .single-media .media .media-left img{
    width:80px;
}
 .single-media .media .media-body .media-heading{
    color:#000;
    text-decoration:none;
}
 .single-media .media .media-body .media-heading:hover{
    color:#439ec9;
}
 .photo a.badge{
    position:absolute;
    top:0;
    border-radius:0;
    color:#f1f1f1;
}
 .photo a.badge:hover{
    color:#439ec9;
}
 .photo .carousel-inner .caption a{
    background:rgba(0,0,0,.8);
    display:block;
    color:#fff;
    padding:15px;
    position:absolute;
    bottom:0;
    width:100%;
    left:0;
}
.breadcrumb {
  padding: 0px 0px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 0px;
    background-color: #FFF;
}
 .breadcrumb-head  li>a{
    color:#333333;
    font-size: 36px;
}
 .breadcrumb-head li a:hover{
    color:#8d0f0f;
}
 .photo-title{
}
 .photo-title h1{
}
 .photo-title small{
    font-size:14px;
}
 .photo-title small a{
    color:#000;
    font-weight:bold;
}
 .photo-title small a:hover{
    color:#439ec9;
}
 .photo-title blockquote{
    padding:10px 0 10px 25px;
    margin:25px 0;
    line-height:26px;
}
 .photo-title .media{
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:10px 0;
}
 .photo-title .media .media-left img{
    width:40px;
    height:40px;
    border-radius:100%;
    display:inline-block;
}
 .photo-title .photo-tags{
    margin-bottom:15px;
    padding:0;
}
 .photo-title .photo-tags li{
    display:inline-block;
}
 .photo-title .photo-tags li a{
    color:#8a8a8a;
    border:1px solid #dfdfdf;
    font-size:14px;
    padding:3px 10px;
    border-radius:15px;
}
 .photo-title .photo-tags li a:hover{
    background:#b30f0f;
    color:#fff;
    border-color:#b30f0f;
}
 .poll{
    background:#000;
    padding:10px 15px;
    color:#fff;
    margin-bottom:20px;
}
 .poll h3{
    padding-bottom:15px;
    border-bottom:1px solid #929292;
    margin-bottom:20px;
    margin-top:10px;
    font-size:1.25em;
}
 .poll label{
    font-weight:normal;
}
 hr{
    height:0;
    margin-bottom:0;
    margin-top:0
}
 .btn-bread{
    margin-top:10px;
    font-size:12px;
    border-radius:3px;
}
 .demo-gallery{
}
 .demo-gallery ul{
}
 .demo-gallery ul li{
}
 .demo-gallery ul li .single-block{
}
 .demo-gallery ul li .single-block:hover{
    cursor:zoom-in;
}
 .lg-outer{
    cursor:zoom-out!important;
}
 #queries{
    background:#fff;
    padding:15px;
    margin-bottom:20px;
}
 #queries a{
    color:#000;
    background:#f1f1f1;
    padding:1px 8px;
    border:1px solid #eeeeee;
    margin:2px 0;
    display:inline-block;
    text-decoration:none;
    font-size:13px;
}
 #queries a:hover{
    background:#fff;
}
 .gsc-control-cse, .gs-bidi-start-align .gs-snippet, .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType{
    font-family:"Helvetica Neue", Helvetica, Arial, SolaimanLipi ,sans-serif,SolaimanLipiNormal!important;
}
 .gcsc-branding{
}
 .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult{
    border-bottom:1px solid #e3e3e3!important;
}
 .gs-result .gs-title, .gs-result .gs-title *{
    text-decoration:none!important;
}
 .gs-webResult.gs-result a.gs-title:link, .gs-imageResult a.gs-title:link{
    color:#000!important;
    text-decoration:underline!important;
}
 .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link b{
    color:#ec5d64 !important;
}
 .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b{
    color:#ec5d64!important;
    text-decoration:underline!important;
}
 .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl{
    color:#808080 !important;
}
 .gs-image-box.gs-web-image-box.gs-web-image-box-landscape{
    width:88px!important;
    padding-left:8px!important;
    padding-top:5px!important;
}
 .gsc-results .gsc-cursor-box .gsc-cursor-page{
    height:30px!important;
    width:30px!important;
    display:inline-block!important;
    text-align:center!important;
    line-height:30px!important;
    border-radius:50%!important;
    border:1px solid #e3e3e3!important;
    color:#000!important;
}
 .gsc-results .gsc-cursor-box .gsc-cursor-current-page{
    background:#9a1515!important;
    color:#fff!important;
    border:1px solid #9a1515!important;
    text-decoration:none!important;
}
 .gs-spelling a{
    color:#C20D16!important;
}
 .gsc-tabsArea{
    border-color:#B30F0F!important;
    height:28px!important;
}
 .gsc-tabHeader{
    overflow:hidden!important;
}
 .gsc-tabHeader.gsc-tabhActive{
    border-color:#B30F0F!important;
    border-bottom-color:#FFFFFF!important;
    background-color:#FFFFFF!important;
}
 .gs-bidi-start-align.gs-snippet b{
    color:#ec5d64!important;
}
 .gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet{
    padding:20px!important;
    border:1px solid rgb(238, 238, 238)!important;
    background-color:rgb(238, 238, 238)!important;
}
 .gsc-results .gsc-cursor-box{
    text-align:center!important;
}
 #bio{
    font-size:.9em;
}
 .author-img{
    width:200px;
}
 .author-img img{
    width:200px;
}
 .author-page{
    padding-top:20px;
}
 .author-news{
}
 .author-news .img-box{
    position:relative;
}
 .author-news .icon-box{
    position:absolute;
    top:-2px;
    left:0;
}
 .author-news .icon-box i{
    color:#fff;
    padding:5px 10px;
    background:#C20D16;
    display:inline-block;
    font-size:12px;
}
 .author-news .img-box:hover .icon-box i{
    color:#C20D16;
    background:#fff;
}
 .author-page .media{
    border-bottom:1px solid #e3e3e3;
    background:#fff;
}
 .author-page .media .media-left{
}
 .author-page .media .media-left a{
    color:#000;
}
 .author-page .media .media-left a:hover{
    color:#439ec9;
}
 .author-page .media .media-left img{
    width:160px;
}
 .author-page .media .media-body{
}
 .author-page .media .media-body h4{
    font-size:1em;
    margin:15px 0 0 0;
}
 .author-page .media .media-body a{
    color:#000;
    text-decoration:none;
}
 .author-page .media .media-body span{
    color:gray;
    font-size:12px;
}
 .author-page .media .media-body a:hover{
    color:#439ec9;
}
 .author-page .single-block{
    position:relative;
}
 .author-page .single-block i.fa-play{
    position:absolute;
    top:50%;
    left:50%;
    height:70px;
    width:70px;
    background:rgba(0,0,0,0.14);
    transform:translate(-50%, -50%);
    text-align:center;
    line-height:60px;
    color:#fff;
    border-radius:50%;
    font-size:30px;
    padding-left:8px;
    border:5px solid #fff;
    -webkit-box-shadow:0 0 30px 2px gray;
    -moz-box-shadow:0 0 30px 2px gray;
    box-shadow:0 0 30px 2px gray;
    opacity:0.8;
}
 .author-page .single-block:hover i.fa-play{
    background:#fff;
    color:#9A1515;
}
 .photo .single-block{
    background:transparent;
    height:auto;
    min-height:1%;
    max-height:1%;
}
 .photo .single-block h4{
    margin-top:10px;
}
 .photo .pagination > li{
    display:inline-block;
}
 .photo .pagination{
    display:block;
    text-align:center;
}
 .photo .pagination > li:first-child > a, .photo .pagination > li:first-child > span{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
 .photo .pagination > li:last-child > a, .photo .pagination > li:last-child > span{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
 .photo .pagination > .active > a, .photo .pagination > .active > a:focus, .photo .pagination > .active > a:hover, .photo .pagination > .active > span, .photo .pagination > .active > span:focus, .photo .pagination > .active > span:hover{
    background-color:darkred;
    border-color:darkred;
}
 .photo .pagination > li > a, .photo .pagination > li > span{
    padding:6px 15px;
    color:black;
    font-size:14px;
}
 .photo .pagination > .active > a, .photo .pagination > .active > span{
    color:#fff;
}
 .pagination > li{
    display:inline-block;
}
 .pagination{
    display:block;
    text-align:center;
}
 .pagination > li:first-child > a, .pagination > li:first-child > span{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
 .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
 .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
  .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color:darkred;
    border-color:darkred;
}
 .pagination > li > a, .pagination > li > span{
    padding:6px 15px;
    color:black;
    font-size:14px;
}
 .pagination > .active > a, .pagination > .active > span{
    color:#fff;
}
 .archive-box{
    position:relative;
}
 .archive-box i.fa-play{
    position:absolute;
    top:50%;
    left:50%;
    height:50px;
    width:50px;
    background:rgba(0,0,0,0.14);
    transform:translate(-50%, -50%);
    text-align:center;
    line-height:42px;
    color:#fff;
    border-radius:50%;
    font-size:24px;
    padding-left:8px;
    border:5px solid #fff;
    -webkit-box-shadow:0 0 30px 2px gray;
    -moz-box-shadow:0 0 30px 2px gray;
    box-shadow:0 0 30px 2px gray;
    opacity:0.8;
}
 .single-block:hover .archive-box i.fa-play{
    background:#fff;
    color:#9A1515;
}
 .Entertainment .single-block .img-box{
    overflow:hidden;
}
 .Entertainment .single-block h3{
    font-size:1em;
    line-height:26px;
}
 .info{
    background:#ccc;
    color:#fff;
    padding:25px 0;
    font-size:24px;
}
 a:hover{
    text-decoration:none;
}
 #wrapper_bu{
    position:absolute;
    width:100%;
    left:-4%;
}
 .txt_h1{
    font-size:2em;
}
 .holder_bu{
    cursor:pointer;
}
 .holder_bu_awayL1{
    position:absolute;
    top:0;
    left:0%;
    width:33.3%;
    -webkit-transition:width 1s, height 1s, top 1s, left 1s;
    -moz-transition:width 1s, height 1s, top 1s, left 1s;
    -o-transition:width 1s, height 1s, top 1s, left 1s;
    -ms-transition:width 1s, height 1s, top 1s, left 1s;
    transition:width 1s, height 1s, top 1s, left 1s;
}
 .holder_bu_awayL2{
    position:absolute;
    top:0;
    left:66%;
    width:33.3%;
    -webkit-transition:width 1s, height 1s, top 1s, left 1s;
    -moz-transition:width 1s, height 1s, top 1s, left 1s;
    -o-transition:width 1s, height 1s, top 1s, left 1s;
    -ms-transition:width 1s, height 1s, top 1s, left 1s;
    transition:width 1s, height 1s, top 1s, left 1s;
}
 .holder_bu_center{
    position:absolute;
    top:0;
    left:33%;
    width:33.3%;
    -webkit-transition:width 1s, height 1s, top 1s, left 1s;
    -moz-transition:width 1s, height 1s, top 1s, left 1s;
    -o-transition:width 1s, height 1s, top 1s, left 1s;
    -ms-transition:width 1s, height 1s, top 1s, left 1s;
    transition:width 1s, height 1s, top 1s, left 1s;
}
 .holder_bu_awayR1{
    position:absolute;
    top:0;
    left:80%;
    width:10%;
    height:40%;
    -webkit-transition:width 1s, height 1s, top 1s, left 1s;
    -moz-transition:width 1s, height 1s, top 1s, left 1s;
    -o-transition:width 1s, height 1s, top 1s, left 1s;
    -ms-transition:width 1s, height 1s, top 1s, left 1s;
    transition:width 1s, height 1s, top 1s, left 1s;
}
 .holder_bu_awayR2{
    position:absolute;
    top:0;
    left:90%;
    width:10%;
    height:30%;
    -webkit-transition:width 1s, height 1s, top 1s, left 1s;
    -moz-transition:width 1s, height 1s, top 1s, left 1s;
    -o-transition:width 1s, height 1s, top 1s, left 1s;
    -ms-transition:width 1s, height 1s, top 1s, left 1s;
    transition:width 1s, height 1s, top 1s, left 1s;
}
 .wrapper_bu{
    height:70px;
    position:relative;
}
 .wrapper_bu .image i.fa-star{
    color:#ed1390;
}
 .wrapper_bu .image i.fa-map-marker{
    color:#ffb200;
}
 .wrapper_bu .image i.fa-tint{
    color:#00cf08;
}
 .panel-default{
    border:none;
}
 .panel-heading{
    padding:0px;
}
 .title.active{
    font-size:17px;
    color:#181818;
    line-height:20px;
}
 .title{
    font-size:15px;
    color:#878787;
    margin:5px 0;
    text-transform:uppercase;
}
 .image img{
    display:inline-block;
}
 .single-name{
}
 .single-name h1{
    margin:0 0 15px 0;
}
 .single-name ul{
    margin:0;
    padding:15px;
    list-style:none;
    text-align:left;
}
 .single-name ul li{
    width:16.66%;
    float:left;
}
 .single-name ul li a{
    color:#000;
    padding:3px 0;
    display:block;
}
 .single-name ul li a:hover{
    color:deepskyblue;
}
 .photo .panel h1{
    margin:0;
}
 @media (min-width:1200px){
    .col-sm-8.main-content{
        width:69.50%;
    }
     .col-sm-4.aside{
        width:30.50%;
        position:relative;
    }
     .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
      .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
       .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3,
       .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
       .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
        padding-right:10px!important;
        padding-left:10px!important;
    }
     .sider .vid-wrap iframe{
        width:25%;
        height:280px;
        top:50px;
        left:67.7%;
    }
}
 @media (max-width:1200px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
    .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
     .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3,
     .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
     .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
        padding-right:10px!important;
        padding-left:10px!important;
    }
}
 @media only screen and (min-width:992px) and (max-width:1199px){
}
 @media only screen and (min-width:768px) and (max-width:991px){
}
 @media only screen and (max-width:767px){
    #menu{
        background:#fff;
    }
     #menu a{
        color:#000;
    }
     #menu .bn-edition{
        color:#fff;
    }
     .sb-icon-search{
        background:#9a1515;
    }
     .sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search{
        background:#9a1515;
    }
     .cat-lead .col-sm-4 > div{
        padding:15px;
    }
     .single-block.cat-block{
        height:auto;
    }
     .single-block.cat-block img{
        height:auto;
    }
     .single-block.cat-block h4{
        font-size:.8em;
        margin-top:-10px;
    }
     #loadMoreContent{
        background:#fff;
        padding:15px 0;
        margin-bottom:15px;
    }
     .archive .single-block{
        background:transparent;
    }
     .jagoTab2.ThreeTab .nav-tabs > li{
        width:33.33% !important;
        float:left;
    }
     .jagoTab2.TwoTab .nav-tabs > li{
        width:50% !important;
        float:left;
    }
     .author-img{
        width:120px;
        display:block;
        margin:auto;
        margin-bottom:15px;
    }
     .author-img img{
        width:120px;
    }
     .author-name{
        text-align:center;
    }
     .author-occupation{
        text-align:center;
    }
     .author-page h3{
        padding:0 15px;
    }
     .author-page .single-block small{
        padding:5px 15px;
    }
}
 @media only screen and (min-width:480px) and (max-width:767px){
}
 @media print{
    #main-content .col-lg-9{
        width:100%!important;
    }
     #at4-toaster{
        display:none !important;
        visibility:hidden !important;
    }
     #main-content .col-lg-pull-9{
        width:0!important;
        visibility:hidden !important;
    }
}
 .btn-danger {
     color: #fff;
     background-color: #2980b9;
     border-color: #3498db;
}
 .hompage-slider .single-slider::after {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     content: "";
     background: #000;
     z-index: -1;
     opacity: 0.5;
}
 .hompage-slider .owl-controls .owl-dots {
     position: absolute;
     right: 50px;
     bottom: 0;
}
 .hompage-slider .owl-controls .owl-dots>div{
     background-color: #2980B9;
     width: 13px;
     height: 13px;
     display: inline-block;
     bottom: 80px;
     left: 50px;
     margin: 0px 5px 20px 0px;
}
 .hompage-slider .owl-controls .owl-dots>div.active {
     background-color: #fff;
}
 .hompage-slider .owl-nav div {
     position: absolute;
     top: 50%;
     left: 20px;
     line-height: 45px;
     font-size: 25px;
     color: #fff;
     border: 2px solid #2980B9;
     text-align: center;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-top: -25px;
     vertical-align: middle;
}
 .hompage-slider .owl-nav div:hover {
     color: #fff;
     border-color: #2980B9;
     background-color: #2980B9;
     -webkit-transition: all .2s ease;
     -o-transition: all .2s ease;
     transition: all .2s ease;
}
 .hompage-slider .owl-nav .owl-next {
     right: 20px;
     left: auto;
}
 #menu .dropdown-toggle i {
     font-size: 15px;
     font-weight: 400!important;
}
 .navbar-nav>li>a {
     padding-top: 15px;
     padding-bottom: 15px;
     line-height: 30px;
}
 .form-control {
     height: 40px;
     color: #555;
     border: 1px solid #ccc;
     border-radius: 0px;
     -webkit-box-shadow: 0;
     box-shadow:0;
     margin-bottom: 10px;
}
 .form-control:focus {
     border-color:#ccc;
     outline: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}
 .btn {
     border-radius: 0px;
}
 .btn-danger:hover{
     background-color: #2980b9;
     border-color: #000;
     transition: .3s;
}
.footer-link ul li>a {
    color: #ecf0f1;
    padding: 10px 0px;
    transition: .3s;
    font-size: 17px;
}
.footer-link ul li>a:hover{
  color:#2980b9;
}
.secondary_menu_wrap {
    height: 48px;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
    line-height: 48px;
}
.secondary_menu ul li>a{
  color: #000;
}
.single-item h3 a {
    color: #000;
    font-size: 17px;
}
li.media h4>a {
    color: #000;
    font-size: 17px;
}
h2.cat-title {
    position: relative;
}
/*
h2.cat-title::before{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background-color: #000;
  width:5px;
  height: 100%;
}
*/
.latest-news .media-heading,.gallery-section h2,.slider-section .gallery-caption .caption>a{
  color:#fff!important;
}
.padding-bottom20{
  padding-bottom: 20px;
}
/*.social-media li {
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    margin-top: 12px;
}*/
.social-media li a>i{
  line-height: 35px;
  height: 35px;
  width: 35px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-top: 11px;
  font-size: 17px;
}
.social-media li a{
  padding-left: 5px!important;
}
.social-media li a>i.fa-facebook{
  background-color: #3b5999;

}

.social-media li a>i.fa-twitter{
  background-color: #55acee;

}
.social-media li a>i.fa-google-plus{
  background-color: #dd4b39;

}
ul.social-media li {
    padding-left: 0!important;
    padding-right: 0!important;
}
ul.social-media li>a {
    padding-left: 0!important;
    padding-right: 0!important;
}

.gallery-caption{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 80px;
  padding: 15px;
}
footer{
  background-color: #282828;
}
.footer-logo{
  padding-bottom: 20px;
}
.footer-logo .container{
  border-top: 1px solid #bdc3c7;
  padding: 20px 0px;
}
.footer-link ul li>a{
  color: #cccccc;
}
.footer-link ul li{
  padding-top: 15px;
}
.sb-search{
  position:absolute;
  top:8px;
  width:0%;
  min-width:45px;
  height:35px;
  right:0;
  float:right;
  overflow:hidden;
  -webkit-transition:width 0.5s;
  -moz-transition:width 0.5s;
  transition:width 0.5s;
  -webkit-backface-visibility:hidden;
}
.sb-search-input{
  position:absolute;
  top:0;
  right:0;
  border:none;
  outline:none;
  background:#fff;
  width:100%;
  height:35px;
  margin:0;
  z-index:10;
  padding:7px 65px 7px 10px;
  font-family:inherit;
  font-size:18px;
  color:#2c3e50;
}
input[type="search"].sb-search-input{
  -webkit-appearance:none;-webkit-border-radius:0;
}
.sb-search-input::-webkit-input-placeholder,
.sb-search-input:-moz-placeholder,
.sb-search-input::-moz-placeholder,
.sb-search-input:-ms-input-placeholder{
  color:#9a1515;
}
.sb-icon-search, .sb-search-submit{
  width:60px;
  height:35px;
  display:block;
  position:absolute;
  right:0;
  top:0;
  padding:0 20px;
  margin:0;
  line-height:35px;
  text-align:center;
  cursor:pointer;
}
.sb-search-submit{
  background:#fff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0;
  color:transparent;
  color:red;
  border:none;
  outline:none;
  z-index:-1;
}
.sb-icon-search{
  color:#fff;
  background:#b30f0f;
  z-index:90;
  font-size:18px;
  font-family:'icomoon';
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  -webkit-font-smoothing:antialiased;
}
.sb-icon-search:before{content:"";}
.sb-search.sb-search-open{overflow:visible;}
.sb-search.sb-search-open,
.no-js .sb-search{
  width:100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search{background:#b30f0f;color:#f1f1f1;z-index:11;}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit{}
#unicode_font{
  width:200px;
  position:absolute;
  left:-200px;
  top:0;
  height:35px;
  background:#000;
  color:#fff;
  z-index:1;
  padding:6px;
  opacity:0;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.sb-search.sb-search-open #unicode_font{
  width:25%;
  left:-25%;
  opacity:1;
}
#sa{
  color:white;
  border:1px solid #000;
  border-left:none;
  border-radius:0;
  position:absolute;
  right:20px;
  background:#000;
  z-index:1000000;
  padding:6px 15px;
  height:35px;
  visibility:hidden;
  font-size:14px;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;
}
#sa:hover{
  background:#000;
  visibility:visible!important;
}
.sb-search.sb-search-open #sa{
  visibility:visible!important;
}

.sb-icon-search, .sb-search-submit {
    width: 60px;
    height: 35px;
    display: block;
    position: absolute;
    right: -30px;
    top: 0;
    padding: 0 20px;
    margin: 0;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.subscribe{
}
.subscribe form{
}
.subscribe form .input-group{
}
.subscribe form .input-group input.form-control{
   box-shadow:none;
   height:40px;
   background:#ececec;
   border:1px solid #ececec;
   border-radius:0;
   padding-left:20px;
}
.subscribe form .input-group input.form-control:focus{
   box-shadow:none;
   border:none;
   background:#fff;
}
.subscribe form .input-group .input-group-btn{
}
.subscribe form .input-group button.btn{
   border-radius:0;
   border:1px solid #737373;
   background:#737373;
   color:#fff;
   padding:8px 30px;
   font-size:16px;
   margin:0;
   box-shadow:none;
   text-transform:uppercase;
}
.subscribe form .input-group button.btn:hover{
   box-shadow:none;
   border:1px solid #9a1515;
   background:#9a1515;
}
.subscribe form .input-group button.btn:focus{
   box-shadow:none;
   border:1px solid #b30f0f;
}
.footer-top{
   padding:20px 0;
}
.footer-top .weather h4{
   color:#b9b9b9;
}
.footer-top .footer-menu{
   margin:0;
   padding:0;
}
.footer-top .footer-menu li{
   list-style:none;
   display:inline-block;
}
.footer-top .footer-menu li a{
   text-decoration:none;
   padding:3px 15px;
   display:block;
   border:1px solid #3c3c3c;
   font-size:16px;
   color:#f1f1f1;
}
.footer-top .footer-menu li a:hover{
   background:#3c3c3c;
}
.footer-top .footer-menu li.active a{
   background:#3c3c3c;
}
.footer-top .footer-menu li.active a:hover{
   background:#7b7b7b;
}

/***search bar****/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    z-index: 99999;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    opacity: 1;
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}







.social-share {
    padding: 15px 20px;
}
.cat-text-box {
    padding: 7px;
}
.cat-text-title {
    font-size: 17px;
}
.cat-thumb {
    font-size: 15px;
}
h4.cat-thumb {
    margin: 8px 0px 0px 0px;
}

.sidebar-title {
    font-size: 28px;
    color: #000;
}
.cat-breadcrumb {
    padding: 30px 0px;
}
.news-form {
padding: 30px!important;
}
.category-block {
    background-color: #fff;
    min-height: 310px;
    max-height: 310px;
    margin-bottom: 30px;
}
.cat-text-box .cat-text-title a{
  color: #000;

}
.cat-text-box h3{
  font-size: 18px;
  line-height: 20px;
}
.cat-text-box .cat-thumb{
  color: #000;
    line-height: 20px;
}
.category-lead {
    background-color: #fff;
    margin: 30px 0px;
}
.category-lead .lead-thumb{
  line-height: 25px;
  font-size: 17px;
}
.sports{
    background-color: #fff!important;
}

.post-box{
    min-height: 265px;
    max-height: 265px;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
    } 
.post-img-box a img{
/*max-height: 140px;
max-width: 100%;
min-width: 100%;*/
 } 
.post-box:hover  .post-box-title h3 a{
color:  #f39c12;
}
 .post-box-title h3 a:hover{
    color:  #f39c12;
 }
 .post-box-title h3 a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
 }
 .post-meta span a{
    color: #000;
    font-size: 17px;
 }
.post-meta span a:hover{
    color: #2980b9;
    border-bottom:1px solid #e67e22;
}
.post-text{
    padding: 5px;
}
.cat-title span.cat-bg{
    min-width: 180px!important;
    padding: 3px 12px;
    background-color:#ecf0f1;
    color: #fff;
  
}
.cat-title span.cat-bg a{
    color: #fff;
}
h2.cat-title {
    border-bottom: 2px solid #ecf0f1;
    font-size: 22px;

}
.sub-cat a{
    font-size: 17px;
    margin-left: 5px;
}

/*National*/
.national .cat-title span.cat-bg{
    background-color:#e67e22;
}
.national h2.cat-title{
  border-bottom: 2px solid #e67e22!important;  
}


.post-box:hover  .post-box-title h3 a{
color:  #e67e22;
}
/*JOB*/
.job .cat-title span.cat-bg{
    background-color:#e74c3c;
}
.job h2.cat-title{
  border-bottom: 2px solid #e74c3c!important;  
}

.job-title h3>a:hover{
color: #e74c3c!important;
}
.job-block:hover .job-title h3>a {
color: #e74c3c!important;
}
/*sports*/
.sports .cat-title span.cat-bg{
    background-color:#8e44ad;
}

.sports h2.cat-title{
  border-bottom: 2px solid #8e44ad!important;  
}
.sports-block:hover .sports-title h3>a {
color: #8e44ad!important;
}
/*International*/
.international .cat-title span.cat-bg{
    background-color:#16a085;
}

.international h2.cat-title{
  border-bottom: 2px solid #16a085!important;  
}
/*Politics*/
.politics .cat-title span.cat-bg{
    background-color:#34495e;
}

.politics h2.cat-title{
  border-bottom: 2px solid #34495e!important;  
}
/*Economy*/
.economy .cat-title span.cat-bg{
    background-color:#2980b9;
}

.economy h2.cat-title{
  border-bottom: 2px solid #2980b9!important;  
}
/*Law*/
.law .cat-title span.cat-bg{
    background-color:#B33771;
}

.law h2.cat-title{
  border-bottom: 2px solid #B33771!important;  
}
/*LifeStyle*/
.life-style .cat-title span.cat-bg{
    background-color:#BDC581;
}

.life-style h2.cat-title{
  border-bottom: 2px solid #BDC581!important;  
}
/*IT*/
.info-tech .cat-title span.cat-bg{
    background-color:#EAB543;
}

.info-tech h2.cat-title{
  border-bottom: 2px solid #EAB543!important;  
}

/*feature*/
.feature .cat-title span.cat-bg{
    background-color:#4b4b4b;
}

.feature h2.cat-title{
  border-bottom: 2px solid #4b4b4b!important;  
}
/*entertainment*/
.entertainment{
    background-color: #FFF;
}
.entertainment .cat-title span.cat-bg{
    background-color:#3ae374;
}

.entertainment h2.cat-title{
  border-bottom: 2px solid #3ae374!important;  
}

/*Health*/
.health .cat-title span.cat-bg{
    background-color:#833471;
}

.health h2.cat-title{
  border-bottom: 2px solid #833471!important;  
}
/*Education*/
.education .cat-title span.cat-bg{
    background-color:#006266;
}

.education h2.cat-title{
  border-bottom: 2px solid #006266!important;  
}

/*literature*/
.literature .cat-title span.cat-bg{
    background-color:#A3CB38;
}

.literature h2.cat-title{
  border-bottom: 2px solid #A3CB38!important;  
}
/*various*/
.various .cat-title span.cat-bg{
    background-color:#B53471;
}

.various h2.cat-title{
  border-bottom: 2px solid #B53471!important;  
}
/*opinion*/
.opinion .cat-title span.cat-bg{
    background-color:#84817a;
}

.opinion h2.cat-title{
  border-bottom: 2px solid #84817a!important;  
}
/*religion*/
.religion .cat-title span.cat-bg{
    background-color:#ccae62;
}

.religion h2.cat-title{
  border-bottom: 2px solid #ccae62!important;  
}


.section-padd{
    padding: 20px 0px;
}

.details h3 {
    font-size: 17px!important}
.related h3{
    font-size: 18px;
}




.job-block {
    max-height: 260px;
    min-height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
}




.feature-block:hover .feature-title h4>a{
color: #AB8D3F;
}
.feature-block{
    max-height: 255px;
    min-height: 255px;
    background-color: #fff;
    margin-bottom: 15px;
}
.feature-title h4>a{
    color: #000;
    line-height: 25px;
}
.feature-details{
    padding: 10px 10px 0px;
    height: 80px;
    overflow: hidden;
}
.feature-details .meta{
    border-top: 1px solid #000;
}

.feature-block .meta {
    padding: 10px;
    border-top: 1px solid #eee;
    background: #fff;
}
.meta {
    line-height: 16px;
}
.meta a{
    color: #868686;
    font-size: 13px;
}